body {
  max-width: 1024px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.wrapper {
  padding: 0 20px;
}

.photo {
  width: 400px;
}

h1 {
  text-align: center;
}

h2 {
  color: brown;
}

ul {
  list-style: none;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: brown;
}
